rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /play/{document=**} {
      allow read, write;
    }
    match /call/{document=**} {
      allow read, write;
    }
  }
}