.Ticket {
    position: -webkit-sticky;
    position: sticky;
    top: 5px;
    bottom: 40px;
    z-index: 2;
    margin: auto;
}

.Ticket > .grid {
    border-radius: 10px 10px 0px 0px;
    padding: 5px;
    width: 330px;
}

.Ticket > .grid > .trow {
    white-space: nowrap;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
}

.Ticket > .grid > .trow > .tcell {
    min-width: 11%;
    height: 30px;
    margin: 1px;
    font-size: 20px;
    border: 1px solid var(--cred);
    outline: none;
}